body{
    background-image: url("/bg-images/bg3.jpg");
    background-size: cover;
}

.navbar{
    height:8vh;
    /* background-color: goldenrod; */
    display:flex;
    justify-content: flex-end;
    position:sticky;
}

.btn{
    color:bisque;
   
}

.dropdown{
    position:relative;
}

.dropdown-menu{
    background-color: rgb(0, 0, 0);
    
}
.dropdown-item{
    color:#fff;
}


.heading{
    position: relative;
    text-align: center;
}

.image{
    width: 7vw;
    height: 15vh;
}
.cross{
    width: 7vw;
    height: 15vh;
}

.main{
    height:70vh;
    width:70vh;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    /* background-color: blue; */
    margin-top:10vh;
    margin-left:32vw;
}


#upper-left,#upper-mid,#upper-right,#middle-left,#middle-mid,#middle-right,#lower-left,#lower-mid,#lower-right{
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    border:1px solid black;
    width:33.33%;
    height:33.33%;
}

.cross,.circle{
    width:80%;
    height: auto;
    mix-blend-mode: multiply;
}

